html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.eot");
  src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype"), url("../fonts/Poppins-Regular.svg#Poppins-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font: 16px/24px "Poppins", sans-serif;
  color: #1B1A1A;
  background-color: #FFFFFF;
  background-position: center;
}

h1 {
  font: 64px/70px "Poppins", sans-serif;
}

h2 {
  font: 39px/42px "Poppins", sans-serif;
}

h3 {
  font: 32px/38px "Poppins", sans-serif;
}

h4 {
  font: 24px/30px "Poppins", sans-serif;
}

h5 {
  font: 14px/20px "Poppins", sans-serif;
}

a {
  color: #1B1A1A;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
}
a:hover {
  transform: scale(1.1);
}
a:focus {
  color: #493421;
}

.container {
  max-width: 1198px;
  margin: auto;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

header {
  position: fixed;
  z-index: 3;
  width: 100%;
  background-color: #FFFFFF;
  padding: 22px 0;
}
header .container {
  max-width: 1200px;
  align-items: center;
}

.logo {
  margin-left: 32px;
}
@media screen and (max-width: 768px) {
  .logo {
    margin-left: 15px;
  }
}

.logo__img {
  display: block;
  max-width: 220px;
}

nav ul {
  align-items: center;
}
nav ul li {
  margin-right: 32px;
}
nav ul li:nth-child(5) {
  margin-right: 31px;
}
nav ul li:last-of-type {
  margin-right: 20px;
  transition: 0.3s;
}
nav ul li:last-of-type a {
  color: #FFFFFF;
  background-color: #1B1A1A;
  border-radius: 14px;
  padding: 11px 20px;
}
nav ul li:last-of-type a:hover {
  background-color: #645C55;
}
nav ul li:last-of-type a:focus {
  background-color: #493421;
}
@media screen and (max-width: 884px) {
  nav {
    display: none;
  }
}

.intro {
  background-color: #ECE7E4;
  position: relative;
  height: 100vh;
}
@media screen and (max-width: 992px) {
  .intro {
    height: 720px;
  }
}
.intro .container {
  max-width: 1255px;
  height: 100vh;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .intro .container {
    height: 720px;
  }
}

.intro__background {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
  background-image: url("../img/intro/intro_bg.jpg");
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 835px) {
  .intro__background {
    width: 100%;
  }
}

.info {
  width: 50%;
  padding: 90px 15px 0 15px;
  z-index: 2;
}
@media screen and (max-width: 884px) {
  .info {
    padding-top: 63px;
  }
}
@media screen and (max-width: 835px) {
  .info {
    width: 100%;
    text-align: center;
    padding: 63px 0 0 0;
  }
}

.info__name {
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #645C55;
}
@media screen and (max-width: 835px) {
  .info__name {
    background: rgba(206, 196, 188, 0.7);
    padding: 5px;
  }
}
@media screen and (max-width: 376px) {
  .info__name {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 18px;
  }
}

.info__title {
  margin-bottom: 18px;
}
@media screen and (max-width: 884px) {
  .info__title {
    font-size: 52px;
    line-height: 58px;
  }
}
@media screen and (max-width: 835px) {
  .info__title {
    background: rgba(206, 196, 188, 0.4);
    padding: 5px;
  }
}
@media screen and (max-width: 376px) {
  .info__title {
    margin-bottom: 10px;
    font-size: 34px;
    line-height: 40px;
  }
}

.info__text {
  color: #403E3B;
  margin-bottom: 41px;
  max-width: 509px;
}
@media screen and (max-width: 835px) {
  .info__text {
    background: rgba(206, 196, 188, 0.7);
    max-width: 100%;
    padding: 5px 100px;
  }
}
@media screen and (max-width: 768px) {
  .info__text {
    padding: 5px 15px;
  }
}
@media screen and (max-width: 376px) {
  .info__text {
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 18px;
  }
}

.info__link {
  margin-left: 25px;
  display: inline-flex;
}
.info__link::after {
  font-family: "Font Awesome 6 Brands", serif;
  content: "\f4d5";
  display: inline-block;
  margin-left: 5px;
}
@media screen and (max-width: 835px) {
  .info__link {
    margin-left: 0;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #1B1A1A;
    border-radius: 14px;
    padding: 11px 20px;
  }
}
@media screen and (max-width: 376px) {
  .info__link {
    font-size: 14px;
  }
}

.quote {
  padding: 100px 0;
}
@media screen and (max-width: 768px) {
  .quote {
    padding: 50px 0;
  }
}
.quote .container {
  max-width: 768px;
  padding: 0 15px;
}
@media screen and (max-width: 768px) {
  .quote .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.figure {
  max-width: 493px;
}

.figure__text {
  margin-bottom: 10px;
}
.figure__text:last-of-type {
  margin-bottom: 18px;
}

.figcaption {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .figcaption {
    justify-content: center;
  }
}

.figcaption__img {
  width: 84px;
  height: 84px;
  margin-right: 30px;
}
.figcaption__img img {
  width: 100%;
}

.figcaption__text {
  font-size: 17px;
  line-height: 17px;
}
.figcaption__text span {
  font-size: 14px;
  line-height: 14px;
  color: #645C55;
}

.example {
  height: 85vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 884px) {
  .example {
    height: 40vh;
  }
}
@media screen and (max-width: 768px) {
  .example {
    text-align: center;
    justify-content: center;
  }
}
.example_first {
  background-image: url("../img/example/example_bg_rh.jpg");
}
.example_second {
  background-image: url("../img/example/example_bg_ms.jpg");
}
.example_third {
  background-image: url("../img/example/example_bg_ss.jpg");
  justify-content: flex-start;
}
@media screen and (max-width: 768px) {
  .example_third {
    justify-content: center;
  }
}
.example_third .example__text {
  margin-right: 0;
  margin-left: 75px;
}
@media screen and (max-width: 768px) {
  .example_third .example__text {
    margin-left: 0;
  }
}

.example__text {
  max-width: 285px;
  margin-right: 75px;
}
@media screen and (max-width: 768px) {
  .example__text {
    margin-right: 0;
  }
}

.example__title {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #403E3B;
}

.example__subtitle {
  color: #645C55;
}

.processes .container {
  padding: 100px 15px;
}
@media screen and (max-width: 768px) {
  .processes .container {
    padding: 50px 15px;
  }
}

.processes__subtitle {
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #645C55;
}

.processes__title {
  text-align: center;
  margin-bottom: 47px;
}

.processes__articles {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .processes__articles {
    flex-direction: column;
    align-items: center;
  }
}

.item {
  max-width: 280px;
}
@media screen and (max-width: 768px) {
  .item {
    max-width: 480px;
    margin-bottom: 15px;
  }
}

.item__img {
  max-width: 117px;
  margin: 0 auto 15px auto;
}
.item__img img {
  width: 100%;
}

.item__title {
  font-size: 18px;
  line-height: 26px;
  color: #403E3B;
  margin-bottom: 10px;
}

.item__text {
  font-size: 15px;
  line-height: 24px;
  color: #645C55;
}
@media screen and (max-width: 884px) {
  .item__text {
    padding: 0 15px;
  }
}

.contact {
  padding: 100px 15px;
  background-color: #CEC4BC;
}
@media screen and (max-width: 768px) {
  .contact {
    padding: 50px 15px;
  }
}
.contact .container {
  align-items: center;
}
@media screen and (max-width: 768px) {
  .contact .container {
    flex-direction: column;
  }
}

.contact__text {
  max-width: 576px;
}
@media screen and (max-width: 768px) {
  .contact__text {
    margin-bottom: 25px;
  }
}

.contact__subtitle {
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #645C55;
}

.contact__title {
  font-size: 40px;
}
@media screen and (max-width: 428px) {
  .contact__title {
    font-size: 30px;
  }
}

footer {
  padding: 60px 15px;
  font-size: 14px;
  line-height: 14px;
  color: #645C55;
  background-color: #F7F7F7;
}
@media screen and (max-width: 768px) {
  footer {
    text-align: center;
  }
}
@media screen and (max-width: 428px) {
  footer {
    padding: 50px 15px;
  }
}

.footer__licence_social {
  align-items: center;
}
@media screen and (max-width: 768px) {
  .footer__licence_social {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .footer__licence {
    margin-bottom: 20px;
  }
}

.footer__logo {
  margin-bottom: 20px;
  width: 256px;
  height: 22px;
}
@media screen and (max-width: 768px) {
  .footer__logo {
    text-align: center;
    width: 100%;
  }
}
.footer__logo a img {
  width: 100%;
}

.social ul li {
  margin-left: 20px;
}
.social ul li:first-of-type {
  margin-left: 0;
}

.customers {
  background-color: #403E3B;
  padding: 100px 15px;
}
@media screen and (max-width: 992px) {
  .customers .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .customers {
    padding: 50px 15px;
  }
}

.customers__info {
  max-width: 450px;
}
@media screen and (max-width: 992px) {
  .customers__info {
    max-width: 750px;
  }
}

.customers__subtitle {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ECE7E4;
}

.customers__title {
  color: #FFFFFF;
  margin-bottom: 14px;
}

.customers__text {
  color: #ECE7E4;
  margin-bottom: 27px;
}

.customers_logos {
  max-width: 448px;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .customers_logos {
    max-width: 100%;
    width: 100%;
    justify-content: space-around;
  }
}

.customers_logo {
  max-width: 128px;
  margin-right: 96px;
}
@media screen and (max-width: 992px) {
  .customers_logo {
    margin-right: 0;
  }
}
.customers_logo img {
  display: block;
  width: 100%;
}

.projects {
  padding: 112px 15px;
  background-color: #F7F7F7;
}
@media screen and (max-width: 768px) {
  .projects {
    padding: 50px 15px;
  }
}

.projects__title {
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .projects__title {
    font-size: 32px;
    line-height: 38px;
  }
}

.projects__subtitle {
  max-width: 581px;
  color: #645C55;
  margin-bottom: 44px;
}
@media screen and (max-width: 768px) {
  .projects__subtitle {
    max-width: 100%;
    font-size: 20px;
    line-height: 28px;
  }
}

@media screen and (max-width: 768px) {
  .previews {
    flex-direction: column;
    align-items: center;
  }
}

.preview {
  max-width: 375px;
  position: relative;
}
@media screen and (max-width: 1280px) {
  .preview {
    margin-right: 15px;
  }
}
@media screen and (max-width: 768px) {
  .preview {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 1280px) {
  .preview:last-of-type {
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .preview:last-of-type {
    margin-bottom: 0;
  }
}
.preview img {
  display: block;
  width: 100%;
}

.preview__info {
  position: absolute;
  top: 40px;
  left: 40px;
}

.preview__subtitle {
  color: #645C55;
}

.preview__title {
  font-size: 23px;
  color: #403E3B;
}

.preview__button {
  position: absolute;
  bottom: 40px;
  left: 40px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
  background-color: #1B1A1A;
  border-radius: 14px;
  padding: 11px 20px;
}

.team {
  padding: 96px 15px 128px 15px;
}
@media screen and (max-width: 768px) {
  .team {
    padding: 50px 15px;
  }
}
.team .container.d-flex {
  justify-content: flex-start;
}
@media screen and (max-width: 992px) {
  .team .container.d-flex {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}

.team__info {
  max-width: 358px;
  margin-right: 37px;
  padding-bottom: 179px;
}
@media screen and (max-width: 992px) {
  .team__info {
    max-width: 750px;
    padding-bottom: 15px;
    margin-right: 0;
    text-align: center;
  }
}

.team__title {
  margin-bottom: 15px;
  color: #403E3B;
}

.team__text {
  margin-bottom: 41px;
  color: #645C55;
}
@media screen and (max-width: 992px) {
  .team__text {
    margin-bottom: 15px;
  }
}

.team__link {
  margin-left: 25px;
}
@media screen and (max-width: 992px) {
  .team__link {
    margin-left: 0;
  }
}

.team__preview {
  margin-top: 10px;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 628px;
}
@media screen and (max-width: 992px) {
  .team__preview {
    max-width: 628px;
    justify-content: space-between;
  }
}
@media screen and (max-width: 992px) {
  .team__preview .figcaption {
    padding: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
