@import "./variables";

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.eot');
  src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Poppins-Regular.woff2') format('woff2'),
  url('../fonts/Poppins-Regular.woff') format('woff'),
  url('../fonts/Poppins-Regular.ttf') format('truetype'),
  url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font: $p-font;
  color: $black;
  background-color: #FFFFFF;
  background-position: center;
}

h1 {
  font: 64px/70px $main-font;
}

h2 {
  font: 39px/42px $main-font;
}

h3 {
  font: 32px/38px $main-font;
}

h4 {
  font: 24px/30px $main-font;
}

h5 {
  font: 14px/20px $main-font;
}

a {
  color: $black;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;

  &:hover {
    transform: scale(1.1);
  }

  &:focus {
    color: $brown-text;
  }

}

.container {
  max-width: $container_main;
  margin: auto;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}