// Font
$main-font: 'Poppins', sans-serif;
$p-font: 16px/24px $main-font;
// Containers
$container-nav: 1200px;
$container-intro: 1240px;
$container-main: 1168px;
$container-quote: 768px;
// Colors
$black: #1B1A1A;
$brown-text: #645C55;