@import "../base/variables";

.item {
  max-width: 280px;
}

.item__img {
  max-width: 117px;
  margin: 0 auto 15px auto;
  img {
    width: 100%;
  }
}

.item__title {
  font-size: 18px;
  line-height: 26px;
  color: #403E3B;
  margin-bottom: 10px;
}

.item__text {
  font-size: 15px;
  line-height: 24px;
  color: $brown_text;
}