@import "../base/variables";
@import "../base/mixins";

.item {
  max-width: 280px;
  @include max-screen(768px) {
    max-width: 480px;
    margin-bottom: 15px
  }
}

.item__img {
  max-width: 117px;
  margin: 0 auto 15px auto;
  img {
    width: 100%;
  }
}

.item__title {
  font-size: 18px;
  line-height: 26px;
  color: $brown-title;
  margin-bottom: 10px;
}

.item__text {
  font-size: 15px;
  line-height: 24px;
  color: $brown_text;
  @include max-screen(884px) {
    padding: 0 15px;
  }
}