@import "../base/variables";

.intro {
  background-color: #ECE7E4;
  position: relative;
  height: 100vh;
  .container {
    max-width: $container-intro;
    height: 100vh;
    display: flex;
    align-items: center;
  }
}

.intro__background {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
  background-image: url("../img/intro/intro_bg.jpg");
  background-size: cover;
  background-position: center;
}